@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --bg-color: #161316;
    --font-color: #fffcf5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html,
body,
* {
    cursor: none;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}
